albucore==0.0.23
albumentations==2.0.5
annotated-types==0.7.0
anyio==4.9.0
asgiref==3.8.1
astor==0.8.1
asttokens==3.0.0
autocommand==2.2.2
backports.tarfile==1.2.0
beautifulsoup4==4.13.3
certifi==2025.1.31
charset-normalizer==3.4.1
colorama==0.4.6
contourpy==1.3.1
cycler==0.12.1
Cython==3.0.12
decorator==5.2.1
display==1.0.0
Django==5.1.7
executing==2.2.0
fire==0.7.0
fonttools==4.56.0
h11==0.14.0
httpcore==1.0.7
httpx==0.28.1
idna==3.10
image==1.5.33
imageio==2.37.0
importlib_metadata==8.0.0
inflect==7.3.1
ipython==9.0.2
ipython_pygments_lexers==1.1.1
jaraco.collections==5.1.0
jaraco.context==5.3.0
jaraco.functools==4.0.1
jaraco.text==3.12.1
jedi==0.19.2
kiwisolver==1.4.8
lazy_loader==0.4
lmdb==1.6.2
lxml==5.3.1
matplotlib==3.10.1
matplotlib-inline==0.1.7
more-itertools==10.3.0
networkx==3.4.2
numpy==2.2.4
opencv-contrib-python==4.11.0.86
opencv-python==4.11.0.86
opencv-python-headless==4.11.0.86
opt-einsum==3.3.0
packaging==24.2
paddleocr==2.10.0
paddlepaddle==2.6.2
parso==0.8.4
pillow==11.1.0
platformdirs==4.2.2
prompt_toolkit==3.0.50
protobuf==3.20.2
pure_eval==0.2.3
pyclipper==1.3.0.post6
pydantic==2.10.6
pydantic_core==2.27.2
Pygments==2.19.1
pyparsing==3.2.1
python-dateutil==2.9.0.post0
python-docx==1.1.2
PyYAML==6.0.2
RapidFuzz==3.12.2
requests==2.32.3
scikit-image==0.25.2
scipy==1.15.2
setuptools==77.0.3
shapely==2.0.7
simsimd==6.2.1
six==1.17.0
sniffio==1.3.1
soupsieve==2.6
sqlparse==0.5.3
stack-data==0.6.3
stringzilla==3.12.3
termcolor==2.5.0
tifffile==2025.3.13
tomli==2.0.1
tqdm==4.67.1
traitlets==5.14.3
typeguard==4.3.0
typing_extensions==4.12.2
tzdata==2025.1
urllib3==2.3.0
wcwidth==0.2.13
wheel==0.45.1
zipp==3.19.2
